In [1]:
import sqlite3
from tabulate import tabulate

# Connect to the database
con = sqlite3.connect("sales_data_analysis.db")
cur = con.cursor()

# Check the table schema (columns and their types)
cur.execute("PRAGMA table_info(sales_data);")
columns = cur.fetchall()

# Print the column names and their data types
for column in columns:
    print(column)

# Close the connection
con.close()

(0, 'Order Number', 'INTEGER', 0, None, 0)
(1, 'Line Item', 'INTEGER', 0, None, 0)
(2, 'Order Date', 'TEXT', 0, None, 0)
(3, 'Delivery Date', 'TEXT', 0, None, 0)
(4, 'CustomerKey', 'INTEGER', 0, None, 0)
(5, 'StoreKey', 'INTEGER', 0, None, 0)
(6, 'ProductKey', 'INTEGER', 0, None, 0)
(7, 'Quantity', 'INTEGER', 0, None, 0)
(8, 'Currency Code', 'TEXT', 0, None, 0)
(9, 'Gender', 'TEXT', 0, None, 0)
(10, 'Name', 'TEXT', 0, None, 0)
(11, 'City', 'TEXT', 0, None, 0)
(12, 'State Code', 'TEXT', 0, None, 0)
(13, 'State_x', 'TEXT', 0, None, 0)
(14, 'Zip Code', 'REAL', 0, None, 0)
(15, 'Country_x', 'TEXT', 0, None, 0)
(16, 'Continent', 'TEXT', 0, None, 0)
(17, 'Birthday', 'TEXT', 0, None, 0)
(18, 'Product Name', 'TEXT', 0, None, 0)
(19, 'Brand', 'TEXT', 0, None, 0)
(20, 'Color', 'TEXT', 0, None, 0)
(21, 'Unit Cost USD', 'REAL', 0, None, 0)
(22, 'Unit Price USD', 'REAL', 0, None, 0)
(23, 'SubcategoryKey', 'INTEGER', 0, None, 0)
(24, 'Subcategory', 'TEXT', 0, None, 0)
(25, 'CategoryKey', 'INTEGER', 0, None, 0)
(26, 'Category', 'TEXT', 0, None, 0)
(27, 'Country_y', 'TEXT', 0, None, 0)
(28, 'State_y', 'TEXT', 0, None, 0)
(29, 'Square Meters', 'REAL', 0, None, 0)
(30, 'Open Date', 'TEXT', 0, None, 0)
(31, 'Exchange', 'REAL', 0, None, 0)
(32, 'Unit Price USD_original', 'REAL', 0, None, 0)
(33, 'Sales Amount', 'REAL', 0, None, 0)
(34, 'Age', 'INTEGER', 0, None, 0)
(35, 'Month', 'INTEGER', 0, None, 0)
(36, 'Cohort Month', 'TEXT', 0, None, 0)
(37, 'Discounted', 'INTEGER', 0, None, 0)
(38, 'Return', 'INTEGER', 0, None, 0)

In [2]:
#checking first few rows for data correctly inserted

import sqlite3

# Connect to the database
con = sqlite3.connect("sales_data_analysis.db")
cur = con.cursor()

# Query to get the first 5 rows from the sales_data table
cur.execute("SELECT * FROM sales_data LIMIT 5;")
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the connection
con.close()

(366000, 1, '2016-01-01', None, 265598, 10, 1304, 1, 'CAD', 'Male', 'Tyler Vaught', 'London', 'ON', 'Ontario', None, 'Canada', 'North America', '1971-03-23', 'Contoso Lens Adapter M450 White', 'Contoso', 'White', 31.27, 68.0, 406, 'Cameras & Camcorders Accessories', 4, 'Cameras and camcorders', 'Canada', 'Nunavut', 1210.0, '2015-04-04', 1.3884, 68.0, 68.0, 53, 1, '2016-01', 0, 0)
(1998016, 1, '2020-06-20', None, 399053, 10, 87, 5, 'CAD', 'Female', 'Gloria Daley', 'Montreal', 'QC', 'Quebec', None, 'Canada', 'North America', '2000-03-05', 'NT Wireless Bluetooth Stereo Headphones M402 Purple', 'Northwind Traders', 'Purple', 45.98, 99.99, 106, 'Bluetooth Headphones', 1, 'Audio', 'Canada', 'Nunavut', 1210.0, '2015-04-04', 1.3567, 99.99, 499.95, 24, 6, '2019-02', 0, 0)
(1730028, 2, '2019-09-26', None, 245143, 10, 87, 6, 'CAD', 'Female', 'Gladys Kilpatrick', 'Quebec', 'QC', 'Quebec', None, 'Canada', 'North America', '1974-08-15', 'NT Wireless Bluetooth Stereo Headphones M402 Purple', 'Northwind Traders', 'Purple', 45.98, 99.99, 106, 'Bluetooth Headphones', 1, 'Audio', 'Canada', 'Nunavut', 1210.0, '2015-04-04', 1.324, 99.99, 599.9399999999999, 50, 9, '2019-09', 0, 0)
(2214002, 4, '2021-01-22', None, 384783, 10, 1619, 5, 'CAD', 'Male', 'Steven Mason', 'Burlington', 'ON', 'Ontario', None, 'Canada', 'North America', '2002-01-12', 'Contoso DVD Player M130 Grey', 'Contoso', 'Grey', 27.59, 59.99, 602, 'Movie DVD', 6, 'Music, Movies and Audio Books', 'Canada', 'Nunavut', 1210.0, '2015-04-04', 1.2714, 59.99, 299.95, 22, 1, '2019-08', 0, 0)
(1394030, 5, '2018-10-25', None, 397223, 10, 52, 1, 'CAD', 'Male', 'Clifford Glover', 'Woss', 'BC', 'British Columbia', None, 'Canada', 'North America', '1943-11-11', 'WWI 2GB Pulse Smart pen M100 Silver', 'Wide World Importers', 'Silver', 91.95, 199.95, 104, 'Recording Pen', 1, 'Audio', 'Canada', 'Nunavut', 1210.0, '2015-04-04', 1.3046, 199.95, 199.95, 81, 10, '2017-05', 0, 0)

In [6]:
# checking count 

import sqlite3

# Connect to the database
con = sqlite3.connect("sales_data_analysis.db")
cur = con.cursor()

# Query to count the number of records
cur.execute("SELECT COUNT(*) FROM sales_data;")
count = cur.fetchone()[0]

print(f"Total records in the sales_data table: {count}")

# Close the connection

Total records in the sales_data table: 62884

Data Analysis for 15 queries with sql

In [11]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("sales_data_analysis.db")
cur = con.cursor()

# Define each query with its description and limit the results for clarity
queries = {
    "Customer Distribution by Gender": "SELECT Gender, COUNT(*) AS Count FROM sales_data GROUP BY Gender;",
    "Top 10 Products by Sales Amount": "SELECT `Product Name`, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY `Product Name` ORDER BY Total_Sales DESC LIMIT 10;",
    "Sales Trend Over Time (Top 10 Dates)": "SELECT `Order Date`, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY `Order Date` ORDER BY `Order Date` DESC LIMIT 10;",
    "Sales by Category": "SELECT Category, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY Category LIMIT 10;",
    "Top 10 Store Sizes by Total Sales": "SELECT `Square Meters`, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY `Square Meters` ORDER BY Total_Sales DESC LIMIT 10;",
    "Top 10 Customer Ages by Purchase Frequency": "SELECT Age, COUNT(*) AS Count FROM sales_data GROUP BY Age ORDER BY Count DESC LIMIT 10;",
    "Seasonality of Sales (Monthly)": "SELECT strftime('%m', `Order Date`) AS Month, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY Month ORDER BY Month;",
    "Discounted Sales by Category (Top 10 Categories)": "SELECT Category, SUM(`Sales Amount`) AS Total_Sales FROM sales_data WHERE Discounted = 1 GROUP BY Category ORDER BY Total_Sales DESC LIMIT 10;",
    "Top 10 Regions by Sales Over Time": "SELECT Country_x, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY Country_x ORDER BY Total_Sales DESC LIMIT 10;",
    "Top 10 Product Categories by Sales": "SELECT Category, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY Category ORDER BY Total_Sales DESC LIMIT 10;",
    "Sample Product Price vs. Sales (Scatter Plot Data)": "SELECT `Unit Price USD`, `Sales Amount` FROM sales_data LIMIT 15;",
    "Top 10 Loyal Customers (Repeat Purchases)": "SELECT CustomerKey, COUNT(`Order Number`) AS Repeat_Purchases FROM sales_data GROUP BY CustomerKey HAVING Repeat_Purchases > 1 ORDER BY Repeat_Purchases DESC LIMIT 10;",
    "Average Basket Size (Products per Order)": "SELECT `Order Number`, COUNT(`Product Name`) AS Products_Per_Order FROM sales_data GROUP BY `Order Number` LIMIT 10;",
    "Discounted vs. Non-Discounted Sales Performance": "SELECT Discounted, SUM(`Sales Amount`) AS Total_Sales FROM sales_data GROUP BY Discounted;",
    "Top 10 Product Return Rates": "SELECT `Product Name`, AVG(Return) AS Return_Rate FROM sales_data GROUP BY `Product Name` ORDER BY Return_Rate DESC LIMIT 10;"
}

# Execute each query and print top results in an organized manner
for description, query in queries.items():
    print(f"--- {description} ---")
    cur.execute(query)
    results = cur.fetchall()
    for row in results:
        print(row)
    print("\n" + "="*40 + "\n")  

con.close()

--- Customer Distribution by Gender ---
('Female', 31080)
('Male', 31804)

========================================

--- Top 10 Products by Sales Amount ---
('WWI Desktop PC2.33 X2330 Black', 372941.25000000035)
('Adventure Works Desktop PC2.33 XD233 Silver', 326154.0750000002)
('Adventure Works Desktop PC2.33 XD233 Brown', 324797.9250000004)
('WWI Desktop PC2.33 X2330 White', 313270.65000000014)
('Adventure Works Desktop PC2.33 XD233 Black', 313270.6500000001)
('Adventure Works Desktop PC2.30 MD230 White', 312079.0)
('WWI Desktop PC2.33 X2330 Brown', 311914.5000000003)
('Adventure Works Desktop PC2.30 MD230 Black', 307886.0)
('Adventure Works Desktop PC2.33 XD233 White', 305811.8250000002)
('Adventure Works Desktop PC2.30 MD230 Silver', 287520.0)

========================================

--- Sales Trend Over Time (Top 10 Dates) ---
('2021-02-20', 59535.825)
('2021-02-19', 33345.49)
('2021-02-18', 30863.810000000005)
('2021-02-17', 54334.175)
('2021-02-16', 26975.44)
('2021-02-15', 9414.784999999998)
('2021-02-14', 7035.81)
('2021-02-13', 41037.44)
('2021-02-12', 15867.574999999999)
('2021-02-11', 26065.590000000007)

========================================

--- Sales by Category ---
('Audio', 3169627.740000043)
('Cameras and camcorders', 5545675.695000048)
('Cell phones', 6183791.220000175)
('Computers', 15899497.760000004)
('Games and Toys', 724829.4300000052)
('Home Appliances', 7034098.170000242)
('Music, Movies and Audio Books', 3131006.440000071)
('TV and Video', 3922476.7900000266)

========================================

--- Top 10 Store Sizes by Total Sales ---
(2000.0, 20974818.760000333)
(2100.0, 2510721.15499999)
(1260.0, 1922999.2799999863)
(1120.0, 1498694.1699999878)
(1300.0, 1489279.854999989)
(1295.0, 1424286.7799999893)
(1540.0, 1217747.2899999933)
(1500.0, 1112545.2199999965)
(1785.0, 1043451.9749999959)
(1645.0, 1036375.9849999956)

========================================

--- Top 10 Customer Ages by Purchase Frequency ---
(23, 1189)
(44, 1128)
(79, 1117)
(59, 1102)
(33, 1090)
(24, 1082)
(87, 1061)
(26, 1059)
(42, 1050)
(47, 1037)

========================================

--- Seasonality of Sales (Monthly) ---
('01', 5581821.745000126)
('02', 6290615.93000016)
('03', 2070011.3899999761)
('04', 502514.4199999996)
('05', 3885424.98000004)
('06', 3555752.08500003)
('07', 3157330.910000015)
('08', 3353060.9600000265)
('09', 3568113.21000003)
('10', 3654346.2550000385)
('11', 3796193.6550000375)
('12', 6195817.705000196)

========================================

--- Discounted Sales by Category (Top 10 Categories) ---

========================================

--- Top 10 Regions by Sales Over Time ---
('United States', 24499469.959999617)
('United Kingdom', 5835249.150000155)
('Germany', 4344810.5300000515)
('Canada', 3866985.9950000434)
('Australia', 2157389.2849999797)
('Italy', 2016167.7399999797)
('Netherlands', 1639753.174999985)
('France', 1251177.4099999943)

========================================

--- Top 10 Product Categories by Sales ---
('Computers', 15899497.760000004)
('Home Appliances', 7034098.170000242)
('Cell phones', 6183791.220000175)
('Cameras and camcorders', 5545675.695000048)
('TV and Video', 3922476.7900000266)
('Audio', 3169627.740000043)
('Music, Movies and Audio Books', 3131006.440000071)
('Games and Toys', 724829.4300000052)

========================================

--- Sample Product Price vs. Sales (Scatter Plot Data) ---
(68.0, 68.0)
(99.99, 499.95)
(99.99, 599.9399999999999)
(59.99, 299.95)
(199.95, 199.95)
(199.95, 199.95)
(326.0, 326.0)
(258.0, 258.0)
(258.0, 258.0)
(28.0, 224.0)
(589.0, 2356.0)
(678.075, 5424.6)
(678.075, 2712.3)
(469.0, 938.0)
(469.0, 469.0)

========================================

--- Top 10 Loyal Customers (Repeat Purchases) ---
(723572, 36)
(1925694, 32)
(1579183, 32)
(2080484, 29)
(1972249, 29)
(1942072, 29)
(1521733, 29)
(1492176, 29)
(793686, 28)
(382960, 28)

========================================

--- Average Basket Size (Products per Order) ---
(366000, 1)
(366001, 2)
(366002, 3)
(366004, 2)
(366005, 1)
(366007, 2)
(366008, 3)
(366009, 1)
(366010, 1)
(366011, 4)

========================================

--- Discounted vs. Non-Discounted Sales Performance ---
(0, 45611003.24499835)

========================================

--- Top 10 Product Return Rates ---
('WWI Wireless Transmitter and Bluetooth Headphones X250 White', 0.0)
('WWI Wireless Transmitter and Bluetooth Headphones X250 Silver', 0.0)
('WWI Wireless Transmitter and Bluetooth Headphones X250 Red', 0.0)
('WWI Wireless Transmitter and Bluetooth Headphones X250 Blue', 0.0)
('WWI Wireless Transmitter and Bluetooth Headphones X250 Black', 0.0)
('WWI Wireless Bluetooth Stereo Headphones M270 White', 0.0)
('WWI Wireless Bluetooth Stereo Headphones M270 Silver', 0.0)
('WWI Wireless Bluetooth Stereo Headphones M270 Pink', 0.0)
('WWI Wireless Bluetooth Stereo Headphones M270 Black', 0.0)
('WWI Wireless Bluetooth Stereo Headphones M170 White', 0.0)

========================================